<%= form_with(model: [@scanner, session], local: true) do |form| %>
  <% if session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
      <% session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :scandate %>
    <%= form.date_select :scandate, id: :session_scandate %>
  </div>

  <div class="field">
    <%= form.label :sequence %>
    <%= form.text_field :sequence, id: :session_sequence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
