<p id="notice"><%= notice %></p>

<p>
  <strong>Scanner name:</strong>
  <% pdf_file = "/logfiles/#{@scanner.scanner_name}.pdf" %>
  <%= link_to @scanner.scanner_name, pdf_file %>
</p>

<table>

  <thead>
    <tr>
      <th>Session Date</th>
    </tr>
  </thead>

  <tbody>
    <% @scanner.sessions.order(scandate: :desc).each do |session| %>
      <tr>
        <!-- <td><%= session.scandate %></td> -->
        <!-- <td><%= Date.strptime("#{session.scandate}", "%Y%m%d").inspect %></td> -->
        <td><%= link_to Date.strptime("#{session.scandate}", "%Y%m%d").inspect, [@scanner, session] %></td>
        <!-- <td><%= link_to 'Destroy', [@scanner, session], method: :delete %></td> -->
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'New Session', @scanner %> |
<%= link_to 'Edit', edit_scanner_path(@scanner) %> |
<%= link_to 'Back', scanners_path %>
